<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"> Home | services | Locations | For patient | Contact | About  </a>
        </div>
    </div>
  <div class= ".collaps navbar-collapes">
      <ul class="nav navbar-nav">
          <li> <a href="#"> hi</a></li>
          <li> <a href="#"> hi</a></li>
      </ul>
      <ul class = "nav navbar-nav navbar-right">
        <li class="dropdown"> 
            <a href="#" class="dropdown-toggle" role="button"> hi<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li> <a href="#"> hi</a></li>  
                <li> <a href="#"> hi</a></li> 
            </ul>
        </li>

      </ul>
  </div>
</nav>