.container img{
    width: 100%;
    height: auto;
}
.container {
    width: 100%;
    height: auto;
    background-color: #E9E9E9;
    margin: 0;
    padding: 0;
  }
.cater3-movingBG .btn {
    position: absolute;
    top: 58%;
    background-color: #00A66C ;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin:0;
  }
  
.container .btn:hover {
    background-color: black;
  }
.info{
    text-align: center;
    color: black;
    top: 20%;
    left: 1%;
    font-size: 50px;
    padding: 16px 30px;
    position: absolute;
    font-family: cursive;
  }
  .layer5{
    background-color: white;
    width: 100%;
      color: black;
      font-family: cursive;
      font-style: italic;
      padding: 16px 30px;
      left: 10%;
      scroll-behavior: smooth;
      padding: 50px;
    }
.layer2{
  background-color: lightgray;
  width: 100%;
    color: black;
    font-family: cursive;
    font-style: italic;
    padding: 16px 30px;
    left: 10%;
    scroll-behavior: smooth;
    padding: 50px;
    display: flex;
  }
.head{
    font-size: 50px;
    font-weight: 100;
    color: black;
  }
#contin{
    font-size: 1.2em;
    padding-top: 40px;
    padding-bottom: 16px;
  }
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding-left: 7%;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  section {
    display: -webkit-flex;
    display: flex;
  }
  .layer3{
    background-color: white;
    padding: 50px;
    padding-top: 100px;
  }
  h1{
    text-align: center;
    padding-bottom: 16px;
    font-weight: bold;
  }
  h3{
    font-weight: bold;
  }
.layer3 img{
  display: block;
  width: 50px;
  height: 50px;
  margin-left: 20%;
}
.imgdoc{
  width: 400px;
  height: 400px;
  padding-left: 300px;
}
.cater3-movingBG {
  height: 800px;
  background-image: url(https://www.chirodoc.biz/storage/app/media/zoe/58ba21eae1b32_ZoeChiroHero.jpg);
  background-size: 125%;
  background-repeat: repeat-x;
  animation: animatedBackground 15s linear alternate infinite;
}

@keyframes animatedBackground {
  0% { background-position: 0 0; }
  50% { background-position: 50% 0; }
  100% { background-position: 0 0; }
}

.flyinTxtCont {
  height:500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 10%;
  margin-left: 2em;
}
.flyIn {
  color:black;
  font-family:cursive;
  position:relative;
}
.lineOne {
transition-delay:.2s; 
transition:.4s ease in;
animation: txtFlyIn .3s linear;
}
.lineTwo {
  transition-delay:.4s; 
  transition:.6s ease in;
  animation: txtFlyIn .6s linear;
}
.lineThree {
  transition-delay:.6s; 
  transition:.8s ease in;
  animation: txtFlyIn .9s linear;
}
.lineOne, .lineTwo, .lineThree {
  font-size:50px;
  letter-spacing: 2px;
}
.lineFour {
  transition-delay:2s; 
  transition:2s ease in;
  animation: fadeIn 2s linear;
  width: 100%;
  background-color:rgba(255,255,255,0.9);
  display:inline-block;
  color:#000;
  max-width:63%;
  max-width: 22em;
  font-size: 32px;
  padding: .2em .5em;
  margin-top: 30px;
}
@keyframes fadeIn{
  0% { opacity:0;}
  100% { opacity:1;}
}
@keyframes txtFlyIn{
  0% { transform:translateX(-100%); }
  100% { transform:translateX(0%); }
}
.lastlayer{
  padding-top: 100px;
  padding-bottom: 200px;
}