.container img{
    width: 100%;
    height: auto;
}
.container {
    width: 100%;
    height: auto;
    background-color: #E9E9E9;
    margin: 0;
    padding: 0;
  }
.container .btn {
    position: absolute;
    top: 60%;
    left: 10%;
    background-color: #00A66C ;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
.container .btn:hover {
    background-color: black;
  }
.info{
    text-align: center;
    color: black;
    top: 20%;
    left: 1%;
    font-size: 50px;
    padding: 16px 30px;
    position: absolute;
    font-family:cursive;
  }
  .layer5{
    background-color: white;
    width: 100%;
      color: black;
      font-family: cursive;
      font-style: italic;
      padding: 16px 30px;
      left: 10%;
      scroll-behavior: smooth;
      padding: 50px;
    }
.layer2{
  background-color: lightgray;
  width: 100%;
    color: black;
    font-family: cursive;
    font-style: italic;
    padding: 16px 30px;
    left: 10%;
    scroll-behavior: smooth;
    padding: 50px;
    display: flex;
  }
.head{
    font-size: 50px;
    font-weight: 100;
    color: black;
  }
#contin{
    font-size: 1.2em;
    padding-top: 40px;
    padding-bottom: 16px;
  }
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding-left: 7%;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  section {
    display: -webkit-flex;
    display: flex;
  }
  .layer3{
    background-color: white;
    padding: 50px;

  }
  h1{
    text-align: center;
    padding-bottom: 16px;
    font-weight: bold;
  }
  h3{
    font-weight: bold;
  }
.layer3 img{
  display: block;
  width: 50px;
  margin-left: 20%;
}
.imgdoc{
  width: 400px;
  height: 400px;
  padding-left: 300px;
}