<!-- Navigation Bar -->
<div>
   <ul class="topnav">
      <li id="clinic-name" class="nav-link" routerLink=""> Physical therapy</li>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="services">Services</a></li>
      <li><a routerLink="finddoctors">Doctors</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
      <li class="right" style="color: white;">Naira Magdy</li>
   </ul>
</div>
<div class="wrapper">
   <nav id="sidebar">
      <div class="title">
         (logo)clinic name
      </div>
      <ul class="list-items">
         <li><a routerLink="survey">survey</a></li>
         <li><a href="user">profile</a></li>
         <li><a href="#">book an appointement</a></li>
         <li><a href="#">Settings</a></li>
         <li><a href="#">Features</a></li>
         <li><a href="#">About us</a></li>
         <li><a href="#">Languages</a></li>
         <div class="icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
         </div>
      </ul>
   </nav>
</div>