.layer1{
    position:absolute;
    left: 25%;
    padding-top: 100px;
    background-color: white;
    padding-bottom: 100px;
}
h1{
    font-weight: bold;
}
#createaccount{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #3EABD2;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: cursive;
}
section {    
    display: flex;
    border-style: ridge;
  }

.btn{
    background-color: #3EABD2;
    color: white;
    border: black;
    font-size: 16px;
    text-align: center;
    margin-top: 16px;
    margin-left: 80px;
    margin-bottom: 16px;
    width: 120px;
    height: 38px;
    font-family: cursive;
}
.welcome{
    font-family: cursive;
    background-color: lightgray;
    color: black;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 120px;
} 
#cont-welc{
    text-align: center;
    font-family: cursive;
    padding-top: 16px;
}
.form-group{
    width: 400px;
    padding-left: 50px;
    padding-right: 50px;   
}
