<div class="anotherlayer">
  <div style="margin-left:25%;height:500px;">
    <div class="edit">
      <h3 class="manage">Manage profile </h3>
      <article id="signup">
        <div class="card card-container">
          <form name="form" novalidate>
            <div class="form-group">
              <label for="firstname">Firstname</label>
              <input type="text" class="form-control" name="firstname" required minlength="3" maxlength="20" />
            </div>
            <div class="form-group">
              <label for="lastname">Lastname</label>
              <input type="text" class="form-control" name="lastname" required minlength="3" maxlength="20" />
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" required minlength="3" maxlength="20" />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" required email />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" required minlength="6" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" style="margin-top: 16px; margin-bottom: 16px; background-color: #00A66C; 
                    border-color: #00A66C;">
                Save</button>
              <button class="btn btn-primary" style="margin-left: 10px; background-color: lightgray; 
                    color: black; margin-bottom: 16px; margin-top: 16px; border-color: #00A66C; ">Cancel</button>
            </div>
          </form>
        </div>
      </article>
    </div>
  </div>

</div>
<div>