<div class="layer1">
  <section>
    <article id="login">
      <p id="myaccount">Login</p>
      <div class="card card-container">
        <form name="form" novalidate>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email"  required email
              />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" required
              minlength="6"  />
          </div>
          <div class="form-group">
            <button class="btn">Login</button>
          </div>
        </form>
      </div>
    </article>
    <article class="welcome">
      <h1>Hello, Friend!</h1>
      <div id="cont-welc">
        <p>Enter your personal details</p>
        <p>and start journey with us</p>
      </div>
      <a class="nav-link" routerLink="/register">Signup</a>
    </article>
  </section>
</div>