<div class="layer1">
  <section>
    <article id="login">
      <p id="myaccount">Login</p>
      <div class="card card-container">
        <form *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
        <div class="form-group">
          <label for="Name">Name</label>
          <input
            type="text"
            class="form-control"
            name="Name"
            [(ngModel)]="form.Name"
            required
            #Name="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="Name.errors && f.submitted"
          >
            Name is required!
          </div>
        </div>
        <div class="form-group">
          <label for="Email">Email</label>
          <input
            type="text"
            class="form-control"
            name="Email"
            [(ngModel)]="form.Email"
            required
            #Email="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="Email.errors && f.submitted"
          >
            Email is required!
          </div>
        </div>
          <div class="form-group">
            <button class="btn">Login</button>
          </div>
          <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && isLoginFailed"
            >
              Login failed: {{ errorMessage }}
            </div>
          </div>
        </form>
        <div class="alert alert-success" *ngIf="isLoggedIn">
          Logged in as {{ roles }}.
        </div>
      </div>
    </article>
    <article class="welcome">
      <h1>Hello, Friend!</h1>
      <div id="cont-welc">
        <p>Enter your personal details</p>
        <p>and start journey with us</p>
      </div>
      <a class="nav-link" routerLink="/register">Signup</a>
    </article>
  </section>
</div>